[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylint = "*"
flask-testing = "*"

[packages]
flask = "*"
requests = "*"
flask-restful = "*"
flask-script = "*"
flask-migrate = "*"
manage = "*"
flask-restplus = "*"
zipcodes = "*"
flask-httpauth = "*"
darksky-weather = "*"

[requires]
python_version = "3.7"
